{% extends "layout.html" %}
{% block body %}

<div>
    <h2>About Content</h2>
    <h2>About Content</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit fuga odio ipsam aspernatur nam id nostrum magni
        tenetur labore. Quidem deserunt commodi eius labore itaque hic, voluptate ullam consequuntur! Voluptate sint
        sunt commodi nemo! Provident ipsam officiis facere qui, ullam illo a in, porro, odio sunt ipsum consequatur vel
        recusandae modi quod deleniti error eligendi adipisci atque exercitationem maxime dolor magni accusamus
        aspernatur? Explicabo ea facere dolore ipsum, tempora, magni sapiente cumque assumenda labore dicta maiores
        tenetur voluptatibus quasi repellat facilis, modi porro consequuntur est eligendi. Impedit, adipisci? Alias
        labore cupiditate consequatur similique iure dolorem illo odio architecto rem ipsam.</p>
</div>

{% endblock %}