{% extends "layout.html" %}
{% block body %}

<div id="home" class="content active">

    <!-- Header BreadCrumb-->
    <div class="row border" style="background-color: rgb(255, 255, 255);">
        <div class="col-md-4  col-lg-6">
            <div class="row">
                <div class="col-md-2 col-lg-1 ">
                    <i class="bi bi-journal-text fs-2" style="color: green;"></i>

                </div>
                <div class="col-md-10 col-lg-10 ">

                    <p
                        style="margin-bottom: 0px; font-size: large; font-weight: 600; line-height: 1; padding-top: 9px;   ">
                        User
                    </p>

                    <p style="margin-bottom: 0px; font-size: small;line-height: 1; ">Manage Users</p>


                </div>
            </div>

        </div>

        <div class="col-md-1 col-lg-3">

        </div>

        <div class="col-md-7 col-lg-3 d-flex align-items-center" style="padding-top: 10px;">
            <nav aria-label="breadcrumb" class="justify-content-end">
                <ol class="breadcrumb nav_border">
                    <li class="breadcrumb-item"><a href="#" style="color: grey">Home</a></li>
                    <li class="breadcrumb-item  text-success"><a href="#" style="color: grey">User</a></li>
                    <li class="breadcrumb-item active text-success" aria-current="page">Manage User</li>

                </ol>
            </nav>
        </div>



    </div>


    <!--Alert-->
    {% if status == "done" %}
    <div class="row border" style="padding-top: 10px;">
        <div class="alert alert-success"
            style="padding-top: 8px; padding-bottom: 8px; font-size: small; margin-bottom: 0px;" role="alert">
            User has been added successfully!
        </div>
    </div>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}



    <!-- Buttons-->
    <div class="row border" style="margin-top: 10px;">
        <div class="col-md-6 col-lg-4 border" style="padding-left: 0px;">
            <button type="button" class="btn btn-primary add_button" style="" data-bs-toggle="modal"
                data-bs-target="#myModal">
                <i class="bi bi-plus"></i> Add
                User</button>

            <button type="button" class="btn btn-primary print_button" style="
                
                ">
                <i class="bi bi-printer" style="padding-right: 5px;"></i> Print
                Report</button>

        </div>



    </div>

    <!--TextStart-->
    <div class="row  border" style="margin-top: 1px; padding-bottom: 10px; background-color: white;">

        <!--Text-->
        <p style="margin-bottom: 0px; font-size: medium; font-weight: 600; line-height: 1; padding-top: 9px; padding-bottom: 10px; border-bottom: 1px solid rgb(218, 215, 215);"
            class="">
            Manage Users
        </p>
        <!--Text-->
        <div class="row" style="padding-top: 10px;">
            <div class="col-6">
                <div class="row ">
                    <div class="col-1" style="font-size: small; padding-top: 4px;"> Show</div>


                    <div class="col-2" style=" padding-right: 6px;">
                        <input type="number" class="form-control" style="height: 27px; font-size: small;"
                            placeholder="1">
                    </div>

                    <div class="col-1" style="font-size: small; padding-top: 4px; padding-left: 0px;"> entries</div>


                </div>


            </div>
            <div class="col-6">
                <div class="row d-flex justify-content-end">
                    <div class="col-1" style="font-size: small; padding-top: 4px;"> Search</div>


                    <div class="col-4">
                        <input type=" text" class="form-control" style="height: 27px; font-size: small;"
                            placeholder="Search...">
                    </div>




                </div>

            </div>


        </div>
    </div>

    <!-- Table -->

    <div class="row border" style="margin-top: 10px; margin-bottom: 20px; background-color: white;">
        <table class="table table-hover" style="font-size: small;">
            <thead>
                <tr class="table-light">
                    <th scope="col" style="display: none;">Id</th>
                    <th scope="col" style="display: none;">Person Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Email</th>
                    <th scope="col">Gender</th>
                    <th scope="col">CNIC</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Hiring Date</th>
                    <th scope="col">User Role</th>
                    <th scope="col" style="width: 100px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td style="display: none;">{{ row[0] }}</td>
                    <td style="display: none;">{{ row[1] }}</td>
                    <td style="width: 105px;">{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[10] }}</td>

                    <td> {% if row[11] == 4 %}
                        Admin
                        {% elif row[11] == 5 %}
                        Pharmacist
                        {% else %}
                        {{ row[11] }}
                        {% endif %}
                    </td>
                    <td>

                        <i class="bi bi-pen-fill table_buttone " data-bs-toggle="modal" data-bs-target="#myModal"></i>



                        <i class="bi bi-trash2-fill table_buttond"></i>


                    </td>



                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="row">
            <p style="margin-bottom: 0px; font-size:smaller; line-height: 1; ">Showing 0 to 0 of 0 entries.</p>
        </div>

        <div class="row ">
            <nav aria-label="Page navigation example" class="d-flex justify-content-end">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>


    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add User</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <!-- Add your form here -->

                    <form class="row g-3 needs-validation" novalidate>

                        <!--Name-->
                        <div class="col-md-4">
                            <label for="namevalidation" class="label" style=" " class="form-label">User Name</label>
                            <input style="height: 30px; font-size: small;" type="text" class="form-control"
                                id="namevalidation" name="name" placeholder="Name" required>
                            <div class="invalid-feedback" style="font-size: x-small;">
                                Please enter a valid name between 5 and 25 characters long without numbers.
                            </div>
                            <div class="valid-feedback" style="font-size: x-small;">
                                Looks good!
                            </div>
                        </div>

                        <!--Contact-->
                        <div class="col-md-4">
                            <label for="contactvalidation" class="form-label label">Contact</label>

                            <input style="height: 30px; font-size: small;" type="number" class="form-control"
                                id="contactvalidation" value="Otto" placeholder="+920000000000" name="contact" required>

                            <div class="invalid-feedback" style="font-size: x-small;">
                                Please enter a valid contact upto 11 to 15 characters long.
                            </div>
                            <div class="valid-feedback" style="font-size: x-small;">
                                Looks good!
                            </div>
                        </div>

                        <!--Email-->
                        <div class="col-md-4">
                            <label for="emailvalidation" class="form-label label">E-mail</label>

                            <input style="height: 30px; font-size: small;" type="email" class="form-control"
                                id="emailvalidation" value="" placeholder="someone@medicare.com" name="email" required>

                            <div class="invalid-feedback" style="font-size: x-small;">
                                Please enter a valid email
                            </div>
                            <div class="valid-feedback" style="font-size: x-small;">
                                Looks good!
                            </div>
                        </div>

                        <!--Gender-->
                        <div class="col-md-4">
                            <label for="gendervalidation" class="form-label label">Gender</label>
                            <select style="height: 30px; font-size: small; color: rgb(118, 116, 116);"
                                class="form-select" id="gendervalidation" name="gender" required>
                                <option selected disabled value="">Choose...</option>
                                <option value=1>Male</option>
                                <option value=2>Female</option>
                                <option value=3>Others</option>
                            </select>
                            <div class="invalid-feedback" style="font-size: x-small;">
                                Please select a valid gender.
                            </div>
                        </div>

                        <!-- CNIC-->

                        <div class="col-md-4">
                            <label for="cnicvalidation" class="form-label label">CNIC</label>

                            <input style="height: 30px; font-size: small;" type="number" class="form-control"
                                id="cnicvalidation" value="Otto" placeholder="3520265462803" name="cnic" required>

                            <div class="invalid-feedback" style="font-size: x-small;">
                                Please enter a valid cnic upto 13 characters long.
                            </div>
                            <div class="valid-feedback" style="font-size: x-small;">
                                Looks good!
                            </div>
                        </div>

                        <!-- UserRole-->
                        <div class="col-md-4">
                            <label for="userrolevalidation" class="form-label label">User Role</label>
                            <select style="height: 30px; font-size: small; color: rgb(118, 116, 116);"
                                class="form-select" id="userrolevalidation" name="userrole" required>
                                <option selected disabled value="">Choose...</option>
                                <option value=4>Admin</option>
                                <option value=5>Pharmacist</option>
                                <option value=6>Cashier</option>
                            </select>
                            <div class="invalid-feedback" style="font-size: x-small;">
                                Please select a valid user role.
                            </div>
                        </div>

                        <!--Username-->
                        <div class="col-md-4">
                            <label for="usernamevalidation" class="label" style=" " class="form-label">Username</label>
                            <input style="height: 30px; font-size: small;" type="text" class="form-control"
                                id="usernamevalidation" name="username" placeholder="medicare123" required>
                            <div class="invalid-feedback" style="font-size: x-small;">
                                Please enter a valid username that do not contain any special characters.
                            </div>
                            <div class="valid-feedback" style="font-size: x-small;">
                                Looks good!
                            </div>
                        </div>

                        <!--Password-->
                        <div class="col-md-4">
                            <label for="passwordvalidation" class="label" style=" " class="form-label">Password</label>
                            <input style="height: 30px; font-size: small;" type="password" class="form-control"
                                id="passwordvalidation" name="password" placeholder="*********" required>
                            <div class="invalid-feedback" style="font-size: x-small;">
                                Please enter a valid password that at least 8 characters long.
                            </div>
                            <div class="valid-feedback" style="font-size: x-small;">
                                Looks good!
                            </div>
                        </div>

                        <!--Salary-->
                        <div class="col-md-4">
                            <label for="salaryvalidation" class="form-label label">User Salary</label>

                            <input style="height: 30px; font-size: small;" type="number" class="form-control"
                                id="salaryvalidation" value="Otto" placeholder="..." name="salary" required>

                            <div class="invalid-feedback" style="font-size: x-small;">
                                Please enter valid salary
                            </div>
                            <div class="valid-feedback" style="font-size: x-small;">
                                Looks good!
                            </div>
                        </div>

                        <!--Submit-->
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-6 d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                            <div class="col-6" style="padding-left: 0px;">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            </div>
                        </div>

                    </form>

                    <!--
                    <form class="needs-validation" action="/addUser" method="post">
                        <div class="row gx-3 gy-2 align-items-center">
                            {{ form.csrf_token }}
                            <div class="form-group">
                                {{ form.name.label }} {{ form.name(class="form-control" ~ ' is-invalid' if
                                form.name.errors) }}
                                {% for error in form.name.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>


                           
                            <div class="col-sm-4">
                                <label class="visually-hidden" for="specificSizeInputName">Name</label>
                                <input style="height: 30px; font-size: small;" type="text" class="form-control"
                                    id="specificSizeInputName" placeholder="Name" name="name" onchange="validateName()"
                                    required>
                            </div>
                           

                            <div class="col-sm-4">
                                <label class="visually-hidden" for="validationCustom01">Name</label>
                                <input style="height: 30px; font-size: small;" type="text" class="form-control"
                                    id="validationCustom01" placeholder="Name" name="name" oninput="validateName()"
                                    required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label class="visually-hidden" for="specificSizeInputName">Contact</label>
                                <input style="font-size: small;" type="number" class="form-control form-control-sm"
                                    id="specificSizeInputName" placeholder="+920000000000" name="contact" required>
                            </div>

                            <div class="col-sm-4">
                                <label class="visually-hidden" for="specificSizeInputName">E-mail</label>
                                <input style="height: 30px; font-size: small;" type="email" class="form-control"
                                    id="specificSizeInputName" placeholder="E-mail" name="email" required>
                            </div>

                            <div class="col-sm-4">
                                <label class="visually-hidden" for="specificSizeSelect">Preference</label>
                                <select style="height: 30px; font-size: small; color: rgb(118, 116, 116);"
                                    class="form-select form-control-sm" id="specificSizeSelect" name="gender" required>
                                    <option selected>Gender...</option>
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                </select>
                            </div>

                            <div class="col-sm-4">
                                <label class="visually-hidden" for="specificSizeInputName">CNIC</label>
                                <input style="font-size: small;" type="number" class="form-control form-control-sm"
                                    id="specificSizeInputName" placeholder="CNIC" name="cnic" required>
                            </div>

                            <div class="col-sm-4">
                                <label class="visually-hidden" for="specificSizeSelect">Preference</label>
                                <select style="height: 30px; font-size: small; color: rgb(118, 116, 116);"
                                    class="form-select form-control-sm" id="specificSizeSelect" name="userrole"
                                    required>
                                    <option selected>User Role...</option>
                                    <option value=4>4</option>
                                    <option value=5>5</option>
                                    <option value=6>6</option>
                                </select>
                            </div>

                            <div class="col-sm-4">
                                <label class="visually-hidden" for="specificSizeInputGroupUsername">Username</label>
                                <div class="input-group">
                                    <div class="input-group-text input-group-text-sm " style="height: 32px;">@</div>
                                    <input type="text" class="form-control form-control-sm" style="height: 12px;"
                                        id="specificSizeInputGroupUsername" placeholder="Username" name="username"
                                        required>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label class="visually-hidden" for="specificSizeInputGroupUsername">Password</label>
                                <div class="input-group">
                                    <div class="input-group-text input-group-text-sm " style="height: 32px;">#</div>
                                    <input type="text" class="form-control form-control-sm" style="height: 12px;"
                                        id="specificSizeInputGroupUsername" placeholder="Password" name="password"
                                        required>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label class="visually-hidden" for="specificSizeInputName">Salary</label>
                                <input style="font-size: small;" type="number" class="form-control form-control-sm"
                                    id="specificSizeInputName" placeholder="Salary" name="salary" required>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 15px;">
                            <div class="col-6 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                            <div class="col-6" style="padding-left: 0px;">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            </div>
                        </div>

                    </form>
                -->

                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">

                </div>

            </div>
        </div>
    </div>





</div>

<script>
    (function () {
        'use strict'

        // Fetch the form element
        var form = document.getElementById('namevalidation').closest('form');
        var form = document.getElementById('contactvalidation').closest('form');
        var form = document.getElementById('emailvalidation').closest('form');
        var form = document.getElementById('cnicvalidation').closest('form');
        var form = document.getElementById('usernamevalidation').closest('form');
        var form = document.getElementById('passwordvalidation').closest('form');

        // Add a custom validation function
        function validateFirstName() {
            var firstNameInput = document.getElementById('namevalidation');
            var firstName = firstNameInput.value.trim();

            // Perform validation logic
            if (!/^[a-zA-Z]{5,25}$/.test(firstName)) {
                firstNameInput.classList.add('is-invalid');
                return false;
            }

            firstNameInput.classList.remove('is-invalid');
            return true;
        }
        //Contact Validation
        function validateContact() {
            var contactInput = document.getElementById('contactvalidation');
            var contact = contactInput.value.trim();

            // Perform validation logic
            if (contact.length < 11 || contact.length > 15) {
                contactInput.classList.add('is-invalid');
                return false;
            }

            contactInput.classList.remove('is-invalid');
            return true;
        }

        //Email Validation
        function validateEmail() {
            var emailInput = document.getElementById('emailvalidation');
            var email = emailInput.value.trim();

            // Perform validation logic
            // This is a basic email validation regex pattern, but it's not foolproof.
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailRegex.test(email)) {
                emailInput.classList.add('is-invalid');
                return false;
            }

            emailInput.classList.remove('is-invalid');
            return true;
        }
        //CNIC Validator
        function validateCNIC() {
            var cnicInput = document.getElementById('cnicvalidation');
            var cnic = cnicInput.value.trim();

            // Perform validation logic
            if (cnic.length !== 13) {
                cnicInput.classList.add('is-invalid');
                return false;
            }

            cnicInput.classList.remove('is-invalid');
            return true;
        }

        //Username validation
        function validateUsername() {
            var usernameInput = document.getElementById('usernamevalidation');
            var username = usernameInput.value.trim();

            // Perform validation logic
            var usernameRegex = /^[a-zA-Z0-9_.-]+$/;
            if (!usernameRegex.test(username)) {
                usernameInput.classList.add('is-invalid');
                return false;
            }

            usernameInput.classList.remove('is-invalid');
            return true;
        }

        //Password
        function validatePassword() {
            var passwordInput = document.getElementById('passwordvalidation');
            var password = passwordInput.value;

            // Perform validation logic
            var lengthRegex = /.{8,}/;
            var uppercaseRegex = /[A-Z]/;
            var lowercaseRegex = /[a-z]/;
            var numericRegex = /[0-9]/;
            var specialCharRegex = /[-!@#$%^&*()_+|~=`{}[\]:";'<>?,./]/;

            if (
                !lengthRegex.test(password) ||
                !uppercaseRegex.test(password) ||
                !lowercaseRegex.test(password) ||
                !numericRegex.test(password) ||
                !specialCharRegex.test(password)
            ) {
                passwordInput.classList.add('is-invalid');
                return false;
            }

            passwordInput.classList.remove('is-invalid');
            return true;
        }

        // Submit event listener for the form
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity() || !validateFirstName() || !validateContact() || !validateEmail() || !validateCNIC() || !validateUsername() || !validatePassword()) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.classList.add('was-validated');
        }, false);

        // Input event listener for the first name field
        document.getElementById('namevalidation').addEventListener('input', function () {
            validateFirstName();
        });

        document.getElementById('contactvalidation').addEventListener('input', function () {
            validateContact();
        });

        document.getElementById('emailvalidation').addEventListener('input', function () {
            validateEmail();
        });

        document.getElementById('cnicvalidation').addEventListener('input', function () {
            validateCNIC();
        });

        document.getElementById('usernamevalidation').addEventListener('input', function () {
            validateUsername();
        });

        document.getElementById('passwordvalidation').addEventListener('input', function () {
            validatePassword();
        });



    })();
</script>


{% endblock %}